/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-item, .btn, img {
  cursor: pointer;
}

.hidden {
  display:none;
}

.center-element {
  position: absolute;
  transform: translateX(-50%);
  left: calc(50% - 1.5rem);
}

.question:hover {
  background-color:lightgray;
  cursor:pointer;
}

a {
  text-decoration:none!important;
}
