<form [formGroup]="contactForm" (ngSubmit)="sendQuestion()" class="mt-5 center-form">
  <div class="form-group">
    <label>E-post adresse</label>
    <input formControlName="email" type="email" class="form-control" placeholder="name@example.com">
    <p class="alert alert-warning" [hidden]="contactForm.controls.email.valid || (contactForm.controls.email.pristine && !submitted)">
      Vennligst skriv inn en gyldig e-post addresse
    </p>
  </div>
  <div class="form-group">
    <label>Velg kategori</label>
    <select class="form-control" formControlName="category">
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
    <p class="alert alert-warning" [hidden]="contactForm.controls.category.valid || (contactForm.controls.category.pristine && !submitted)">
      Vennligst velg en kategori
    </p>
  </div>

  <div class="form-group">
    <label>Skriv inn ditt spørsmål</label>
    <textarea class="form-control" rows="3" formControlName="body"></textarea>
    <p class="alert alert-warning" [hidden]="contactForm.controls.body.valid || (contactForm.controls.body.pristine && !submitted)">
      Vennligst skriv inn et sprøsmål
    </p>
  </div>
  <button type="submit" class="btn btn-primary" style="width:9rem" [disabled]="!contactForm.valid">Send</button>
  <div class="text-success" [ngClass]="{'hidden' : !sent}">
    Ditt spørsmål er sendt inn
  </div>
</form>
