
.center-dropdown {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}

.card-footer {
  display: flex;
  align-content: center;
}

.card-footer h5 {
  margin-bottom:0!important;
}

.vote {
  cursor: pointer;
  margin-right: 1rem;
  height: 30px;
  width: 30px;
  padding: 5px;
}

.upVote {
  color:green;
}

.downVote {
  color: red;
}

.btn-success {
  background-color: lightgreen;
}

.card {
  max-width: 768px;
  width: calc(100vw - 1rem);
}
