

  <div class="form-group col-12 center-dropdown mt-5 mb-4" style="max-width:500px;">
    <select class="form-control" #selectCategory (change)='onCategorySelected(selectCategory.value)' style="height:3rem;">
      <option value="" disabled selected *ngIf="!loading">Velg kategori</option>
      <option value="" disabled selected *ngIf="loading">Laster kategorier..</option>
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
  </div>

<div *ngFor="let faqItem of DisplayFaqList">
  <div align="center" class="mb-4" *ngIf="faqItem.categoryId == category">
    <div class="card">
      <div [attr.data-target]="'#answer' + faqItem.id" data-toggle="collapse">
        <div class="card-header question">
          {{ faqItem.question }}
        </div>
      </div>
      <div class="collapse" id="answer{{faqItem.id}}">
        <div class="card-body">
          <p class="card-text">
            {{ faqItem.answer }}
          </p>
        </div>
        <div class="card-footer text-muted" align="left">
          
          <img [src]="faqItem.upvoted ? '/assets/up-arrow-green.svg' : '/assets/up-arrow.svg'"  class="vote btn" (click)="vote(faqItem.id, true)"/>
          <img [src]="faqItem.downvoted ? '/assets/down-arrow-red.svg' : '/assets/down-arrow.svg'" class="vote btn" (click)="vote(faqItem.id, false)" />

          <h5 style="display:inline;">{{ faqItem.rating }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
