<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">E-post</th>
      <th scope="col">Kategori</th>
      <th scope="col">Spørsmål</th>
      <th scope="col">Slett</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let question of questions">
      <td>{{ question.id }}</td>
      <td>{{ question.email }}</td>
      <td>{{ question.categoryName }}</td>
      <td>{{ question.body }}</td>
      <td>
        <a href="#deleteModal" class="btn btn-danger" data-toggle="modal"
           (click)="setDeleteModal(question.id, question.email, question.categoryName, question.body)">Slett</a>
      </td>
    </tr>
  </tbody>
</table>

<i class="fa fa-spinner fa-spin fa-3x fa-fw center-element" *ngIf="loading"></i>
<span class="sr-only">Loading...</span>


<div id="deleteModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Bekreft sletting</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <p>Er du sikker på at du vil slette følgende?</p>

        <div style="display:inline;">Epost: </div> <div class="text-danger">{{ selectedEmail }}</div> <br />
        <div style="display:inline;">Kategori: </div> <div class="text-danger">{{ selectedCategory }}</div> <br />
        <br />
        <div>Spørsmål:</div>
        <div class="text-danger">{{ selectedBody }}</div> <br/>
          
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Lukk</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnModalDelete" (click)="delete(selectedId)">Slett</button>
        </div>
      </div>
    </div>
  </div>
</div>
