<body>

  <nav class="navbar navbar-expand-lg navbar-dark" style="background:#3b3b3b">
    <div class="navbar-brand nav-item">
      <a [routerLink]="['/']">
        <img src="/assets/vy-white.svg" style="height:30px" />
      </a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="toggle-navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">

      <ul class="navbar-nav mr-auto">

        <li id="faq" class="nav-item">
          <a [routerLink]="['/faq']">
            <div class="nav-link ml-3">FAQ</div>
          </a>
        </li>

        <li id="newQuestion" class="nav-item">
          <a [routerLink]="['/contact']">
            <div class="nav-link ml-3">Still et nytt spørsmål</div>
          </a>
        </li>

        <li id="questions" class="nav-item">
          <a [routerLink]="['/questions']">
            <div class="nav-link ml-3">Alle stilte spørsmål</div>
          </a>
        </li>

      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
</body>
