<div class="mt-5 col-12">
  <div class="center-card">
    <div class="card">
      <h3 class="card-header" align="center">
        Vy FAQ
      </h3>
      <div class="card-body">
        <div class="card-text">
          <h5 class="col-12">
            Velkommen til Vy sin FAQ side.
          </h5>
          <div class="col-12">
            <p>FAQ er en forkortelse for Frequently asked questions (Ofte stilte spørsmål).</p>
            Dersom du har spørsmål angående funksjonaliteten på våre sider kan du
            finne svar ved å trykke på knappen under <br />
            <a [routerLink]="['/faq']" class="btn btn-primary mt-2">
              Til FAQ
            </a>
            <br />
          </div>

          <div class="col-12 mt-4">
            Dersom du har et spørsmål som ikke allerede er besvart, vennligst
            send inn spørsmålet ditt ved å trykke på knappen under <br />
            <a [routerLink]="['/contact']" class="btn btn-primary mt-2">Nytt spørsmål</a>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


